<!-- https://medium.com/@fernandoevangelista_28291/consumindo-api-rest-com-httpclient-no-angular-8-62c5d733ffb6 -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      Gerenciamento de patientros
    </li>
  </ol>
</nav>
<div class="container">
  <div class="patient list-patient">
    <h5 class="patient-header">Lista de patientros</h5>
    <div class="patient-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Sexo</th>
            <th scope="col">Endereco</th>
            <th scope="col">Plano de Saude</th>
            <th scope="col">Comorbidade</th>
            <th scope="col">Nascimento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients">
            <td>{{ patient.nome }}</td>
            <td>{{ patient.sexo }}</td>
            <td>{{ patient.endereco }}</td>
            <td>{{ patient.plano_de_saude }}</td>
            <td>{{ patient.comorbidade }}</td>
            <td>{{ patient.nascimento }}</td>
            <td>
              <button
                type="button"
                class="btn btn-warning btn-sm"
                (click)="editPatient(patient)"
              >
                Editar
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm ml-1"
                (click)="deletePatient(patient)"
              >
                Deletar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="patient add-patient">
    <h5 class="patient-header">Adicionar/Atualizar patientro</h5>
    <div class="patient-body">
      <form
        id="add-form"
        (ngSubmit)="f.form.valid && savePatient(f)"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            type="text"
            [(ngModel)]="patient.nome"
            id="nome"
            name="nome"
            #nome="ngModel"
            required
            class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && nome.invalid }"
            placeholder="Digite o nome"
          />
          <div *ngIf="f.submitted && nome.invalid" class="invalid-feedback">
            <div *ngIf="nome.errors.required">Nome é obrigatório</div>
          </div>
        </div>
        <div class="form-group">
          <label for="endereco">Endereco</label>
          <input
            type="text"
            [(ngModel)]="patient.endereco"
            id="endereco"
            name="endereco"
            #endereco="ngModel"
            required
            class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && endereco.invalid }"
            placeholder="Digite o seu endereço"
          />
          <div *ngIf="f.submitted && endereco.invalid" class="invalid-feedback">
            <div *ngIf="endereco.errors.required">Endereço é obrigatória</div>
          </div>
        </div>
        <div>
          <!-- <input
            type="checkbox"
            [(ngModel)]="patient.comorbidade"
            id="comorbidade"
            name="comorbidade"
            #comorbidade="ngModel"
            required
            class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && comorbidade.invalid }"
            placeholder="Se tem comorbidade marcar quais, caso negativo marcar negativo"
          /> -->
          <div
            *ngIf="f.submitted && comorbidade.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="comorbidade.errors.required">
              Esse campo é obrigatório
            </div>
          </div>
          <mat-checkbox [(ngModel)]="patient.comorbidade">Asma</mat-checkbox>
          <mat-checkbox [(ngModel)]="patient.comorbidade"
            >Obesidade</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="patient.comorbidade"
            >Diabetes</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="patient.comorbidade"
            >Hipertensão</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="patient.comorbidade"
            >Cardiopatia</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="patient.comorbidade"
            >Não possui</mat-checkbox
          >
          >
        </div>
        <div>
          <h4>Basic native select</h4>
          <mat-form-field appearance="fill">
            <mat-label>Plano de Saúde</mat-label>
            <select
              matNativeControl
              [(ngModel)]="patient.plano_de_saude"
              required
            >
              <option value="SimplePlan">SimplePlan</option>
              <option value="Unimed">Unimed</option>
              <option value="Bradesco">Bradesco</option>
              <option value="SulAmerica">SulAmerica</option>
              <option value="Amil">Amil</option>
              <option value="Vitalis">Vitalis</option>
              <option value="Nenhum">Nenhum</option>
            </select>
          </mat-form-field>
        </div>
        <!-- <div>
          <label for="sexo">Sexo</label>
          <mat-radio-group
            aria-label="Sexo"
            [(ngModel)]="patient.sexo"
            id="sexo"
            name="sexo"
            #sexo="ngModel"
            required
            class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && sexo.invalid }"
            placeholder="---"
          >
            <mat-radio-button value="Femenino">Femenino</mat-radio-button>
            <mat-radio-button value="Masculino">Masculino</mat-radio-button>
          </mat-radio-group>
          <div *ngIf="f.submitted && sexo.invalid" class="invalid-feedback">
            <div *ngIf="sexo.errors.required">Sexo é obrigatório</div>
          </div>
        </div>-->
        <div>
          <div>
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Choose a date"
              />
              <mat-datepicker-toggle
                style="position: relative"
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-add-patient">
          Salvar
        </button>
        <button
          type="reset"
          class="btn btn-secondary btn-add-patient"
          (click)="cleanForm(f)"
        >
          Cancelar
        </button>
      </form>
    </div>
  </div>
</div>
<h1>
  {{ title }}
</h1>

<button routerLink="/login">Login</button>
<button routerLink="/patient">Patient</button>
<button routerLink="/hospital">Hospital</button>
<router-outlet></router-outlet>
