<div>
  <h1>Create Patient</h1>
  <form [formGroup]="patientForm" (ngSubmit)="submitForm()" novalidate>
    <div class="form-group">
      <label>Sexo</label>
      <input
        type="text"
        formControlName="sexo"
        class="form-control"
        maxlength="20"
      />
    </div>
    <div class="form-group">
      <label>Nascimento</label>
      <textarea
        class="form-control"
        formControlName="nascimento"
        rows="3"
        maxlength="50"
      ></textarea>
    </div>
    <div class="form-group">
      <label>comorbidade</label>
      <input type="text" formControlName="comorbidade" class="form-control" />
    </div>
    <div class="form-group">
      <label>plano_de_saude</label>
      <input
        type="text"
        formControlName="plano_de_saude"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>nome</label>
      <input type="text" formControlName="nome" class="form-control" />
    </div>
    <div class="form-group">
      <label>endereco</label>
      <input type="text" formControlName="endereco" class="form-control" />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
