<!-- <div>
  <h1>My Products</h1>
  <button type="button" [routerLink]="/patient/create/">
    Create new patient
  </button>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.id }}</td>
        <td>{{ patient.name }}</td>
        <td>{{ patient.description }}</td>
        <td>{{ patient.quantity }}</td>
        <td>
          <button type="button" [routerLink]="['/patient/update/', patient.id]">
            Update
          </button>
          <button type="button" (click)="patientService.delete(patient.id)">
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
